
.grid-container {

  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 100px 100px;
  // grid-template-areas: "a b
  //                       c d"

}


[class*="one"] {
grid-area: 1/1;
}

[class*="two"] {
grid-area: 1/2;
}

[class*="three"] {
grid-area: 2/1;
}

[class*="right"] {
grid-area: 2/2;
}
